<div class="container">
  <div class="col-lg-8 col-md-8 col-sm-8 col-8 align-middle formulario">
    <h1>HangMan wordguesser</h1>
    <div class="col-lg-10 col-md-10 col-sm-10 col-10 centro">
      <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Nombre de usuario: </label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Usuario...">
        </div>
        <button type="button" class="btn btn-primary"><a [routerLink]="['lobby']">Sign in</a></button>
      </form>
    </div>
    <p>Recuerda que tu nombre de usuario debe ser único</p>
  </div>
</div>
