<div class="container-fluid">
  <div *ngIf="partida" class="row">
    <button  type="button" (click)="cambiaTurno(usuariosPartidaTodos)">Cambiar turno.</button>
    <!--<button type="button" (click)="consoleusuario()">DAMELOOOOOO</button>-->
<div>
  <button *ngFor="let item of abecedario" type="button" (click)="adivinaLetra(item)">{{item}}</button>
</div>


  <h1>Frase:</h1>
  <span *ngFor="let cosica of enviada">
    <span *ngIf="!cosica.estado">_ </span>
    <span *ngIf="cosica.estado">{{cosica.letra}} </span>
  </span>
    <h1>Nombre de usuario: {{usuario}}</h1>
  <h2>Pista: {{nuevaPista}}</h2>
  <h1>El turno es de: {{usuario.usuario}} - {{usuario.turno}}</h1>
    <!--<h1>¿Es mi turno? {{}}</h1>-->

    <!--<h1 *ngIf="usuariosPartida[valorTurno].usuario == usuario.usuario" style="color: #fff;">ES TU TURNO COLEGUITA</h1>-->

  </div>
</div>
