<div class="container-fluid">
  <div class="row">
    <input *ngIf="!haypalabra" type="text" [(ngModel)]="textoInput">
    <button *ngIf="!haypalabra" type="button" (click)="palabraRecibida()">Enviar</button>
    <div *ngIf="haypalabra" class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 abecedario">
      <div class="puntuacion">
        <h3>Puntuación:</h3>
        <h2>{{puntuacion}}</h2>
      </div>
      <ul>
        <li *ngFor="let letraobj of palabra">
          <span *ngIf="letraobj.estado">{{letraobj.letra}}</span>
          <span *ngIf="!letraobj.estado">{{incognita}}</span>
        </li>
      </ul>
      <button *ngFor="let item of abecedario" type="button" (click)="adivinaLetra(item)">{{item}}</button>
    </div>

  </div>
</div>
